/*  your css code here. If applicable */
 .header {
            text-align: center;
            padding: 20px 0;
            background-color: #011e29;
        }

        .header h2 {
            color: white;
        }

        .latest-news-section {
            background-color: #f5f5f5;
            padding: 20px;
            width: 80%;
            margin: 0 auto;
        }

        .latest-news-section ul {
            list-style: none;
            padding: 0;
        }

        .latest-news-section li {
            margin: 10px 0;
            font-size: 18px;
        }

        .pictorial-news-section {
            background-color: #f5f5f5;
            padding: 20px;
            width: 80%;
            margin: 20px auto;
            text-align: center;
            border-radius: 10px;
        }

        .pictorial-news-section img {
            max-width: 100%;
            border-radius: 5px;
        }